<template>
    <div class="card">
        <div class="card-header">
            Módulo de companias
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="">Nombre de la compania:</label>
                        <input v-model="objCompany.name" type="text" class="form-control">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="">Rfc:</label>
                        <input v-model="objCompany.rfc" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="">Email:</label>
                        <input v-model="objCompany.email_contact" type="email" class="form-control">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="">Telefono:</label>
                        <input v-model="objCompany.phone" type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Credito:</label>
                <input v-model="objCompany.credit" type="number" class="form-control">
            </div>
            <div class="form-group">
                <button @click="saveCompany" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</template>

<script>
    import http from '../../services/axios-http'
    import config from '../../../config/dev.env'

    export default {
      data () {
        return {
          objCompany: {
            name: '',
            rfc: '',
            email_contact: '',
            phone: '',
            credit: 0
          },
          lstRoles: []
        }
      },
      methods: {
        saveCompany () {
          console.log(`${config.URL_BASE}v1/companies/company`)
          console.log(this.objCompany)
          this.objCompany.credit = parseInt(this.objCompany.credit)
          http.post(`${config.URL_BASE}v1/companies/company`, this.objCompany).then(msg => {
            this.$notif.showSuccessMsg({
              title: 'Exito',
              message: 'Nueva compania disponible'
            })
          })
          console.log(this.objCompany)
        }
      }
    }
</script>
<style scoped>
</style>