<template>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Categorias de Contactos
                <!-- <div class="card-actions">
                    <button @click="back" class="btn btn-primary btn-sm pull-right" style="background-color: orange" title="Crear nuevo contacto" type="button">
                        <i class="fa fa-backward" style="color: white"></i>
                    </button>
                </div> -->
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <thead class="bg-primary">
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Email</th>
                    </thead>
                    <tr v-for="(obj, index) in lstContacts"
                    v-bind:class="{ selecction: obj.seleccionado == true}"  :key="index"
                    @click="seleccion(index, obj.seleccionado)">
                        <td>{{index +1}}</td>
                        <td> {{obj.name}} {{obj.last_name}}</td>
                        <td>{{obj.email}}</td>
                    </tr>
                </table>
                <div class="form-group">
                    <button @click="getSelected" class="btn btn-primary">Agregar a una categoria</button>
                </div>
            </div>
        <div class="card-footer">
        </div>
        </div>
    </div>
</template>

<script>
import http from '../../services/axios-http'
import config from '../../../config/dev.env'
import { mapState, mapActions } from 'vuex'

export default {
  props: ['uuidCategory'],
  data () {
    return {
      newArray: [],
      lstSave: []
    }
  },
  methods: {
    ...mapActions(['getContacts']),
    getSelected () {
      this.newArray = this.lstContacts.filter(function (el) {
        return el.seleccionado === true
      })
      this.newArray.forEach(async (num) => {
        this.lstSave.push(num.id)
      })
      http.post(`${config.URL_BASE}v1/categories/${this.uuidCategory}/contacts`, {contacts: this.lstSave}).then(msg => {
        this.lstSave = []
        this.getContacts(this.uuidCategory)
        this.$notif.showSuccessMsg({
          title: 'Exito',
          message: 'Nueva asignacion disponible'
        })
      })
    },
    seleccion (index, seleccionado) {
      this.$set(this.lstContacts[index], 'seleccionado', !seleccionado)
    },
    back () {
      this.$router.push('/setCategory')
    }
  },
  computed: {
    ...mapState(['lstContacts'])
  }
}
</script>
<style>
.selecction{
border: grey 5px solid;
}
</style>

