<template>

  



 <div class="card">
     <div class="card-header">
         Categoria
     </div>
     <div class="card-body">
        <div class="form-group">
            <label for="">Nombre de la categoria:</label>
            <input v-model="objCategory.name" type="text" class="form-control" placeholder="Nombre de la categoria"/>
        </div>
        <div class="form-group">
            <label for="">Descripción</label>
            <textarea v-model="objCategory.description" name="" class="form-control" id="" cols="30" rows="10" placeholder="Descripcion..."></textarea>
        </div>
        <div class="form-group">
            <button v-if="objCategory.id == ''" @click="save" class="btn btn-primary">Guardar</button>
            <button v-if="objCategory.id != '' " @click="updateCategory" class="btn btn-primary">Actualizar</button>
        </div>
        
 </div>
 </div>

</template>
<script>
import http from '../../services/axios-http'
import config from '../../../config/dev.env'
import EventBus from '../event-bus'
export default {
  name: 'Category',
  data () {
    return {
      objCategory: {
        uuidCategory: '',
        name: '',
        description: '',
        id: ''
      }
    }
  },
  methods: {
    save () {
      http.post(`${config.URL_BASE}v1/companies/${localStorage.getItem('company_id')}/categories`, this.objCategory).then(msg => {
        console.log(msg)
        if (msg.data.code === 201) {
          this.$notif.showSuccessMsg({
            title: 'Exito',
            message: 'Nuevo registro disponible'
          })
          this.objCategory.name = ''
          this.objCategory.description = ''
          EventBus.$emit('newCategory')
        }
      }, err => {
        console.log(err)
      })
    },
    updateCategory () {
      console.log(this.objCategory)
      http.putData(`${config.URL_BASE}v1/categories/${this.objCategory.id}`, this.objCategory).then(msg => {
        this.$notif.showSuccessMsg({
          title: 'Exito',
          message: 'Registro actualizado'
        })
      })
    }
  },
  created: function () {
    this.objCategory.uuidCategory = this.$route.params.uuidCategory
    if (this.objCategory.uuidCategory === undefined) {
      console.log('es para altas')
    } else {
      http.get(`${config.URL_BASE}v1/categories/${this.objCategory.uuidCategory}`).then(msg => {
        console.log(msg)
        this.objCategory = msg.data.data
      })
    }
  }
}
</script>
