<template>
    <div class="container">

       <b-modal id="modal1"
        title="Seleccion de clientes"
        hide-footer
        size="lg"
        ref="myModalRef" >
        <assingClients :uuidCategory="cmbCategory"></assingClients>
        </b-modal>

        <div class="card">
            <div class="card-header">
                Categorias de Contactos
            </div>
            <div class="card-body">
                <div class="form-group">
                    <select v-model="cmbCategory"
                    @change="getContactsCategory" class="form-control" id="">
                        <option :value="0" >Seleccione una categoria</option>
                        <option v-for="(obj, index) in categories"
                        :value="obj.id" :key="index">{{obj.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                  <button :disabled="cmbCategory === 0"  @click="goToAssig" class="btn btn-primary"> <i class="fa fa-plus"></i> Agregar clientes</button>
                </div>
                <div class="form-group">
                  <label for="">Busqueda</label>
                  <input type="text"
                  class="form-control"
                  placeholder="Busqueda...." v-model="searchCategory">
                </div>
                <table class="table table-hover table-sm">
                  <thead class="bg-primary">
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Observaciones</th>
                    <th></th>
                  </thead>
                  <tr v-for="(obj, index) in  filterBy(contacts, searchCategory, 'first_name', 'email')" :key="index">
                    <td>{{index +1}}</td>
                    <td> {{obj.first_name}} {{obj.last_name}} </td>
                    <td>{{obj.email}}</td>
                    <td>{{obj.observations}}</td>
                     <td><button @click="deleteContact(obj.id)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button></td>
                  </tr>
                  <tr>
                    <td colspan="4" v-if="$store.state.contacts.length === 0">
                      No hay registros disponibles
                    </td>
                  </tr>
                </table>
            </div>
        <div class="card-footer">
        </div>
        </div>
    </div>
</template>

<script>
import http from '../../services/axios-http'
import config from '../../../config/dev.env'
import assingClients from './assignContact'
import { mapState, mapActions } from 'vuex'
export default {
  data () {
    return {
      cmbCategory: 0,
      categories: [],
      modalInfo: { title: '', content: '' },
      searchCategory: ''
    }
  },
  methods: {
    ...mapActions(['getContacts']),
    getCategories () {
      console.log(`${config.URL_BASE}v1/companies/${localStorage.getItem('company_id')}/categories`)
      http.get(`${config.URL_BASE}v1/companies/${localStorage.getItem('company_id')}/categories`).then(msg => {
        this.categories = msg.data.data
      }, err => {
        console.log(err)
      })
    },
    getContactsCategory () {
      console.log(this.contacts)
      if (this.cmbCategory === 0) {
        this.$store.commit('SETCONTACTS', [])
      } else {
        this.getContacts(this.cmbCategory)
      }
    },
    goToAssig () {
      this.getContactNoneAssing()
      this.$refs.myModalRef.show()
    },
    deleteContact (uuidContact) {
      http.deleteData(`${config.URL_BASE}v1/categories/${this.cmbCategory}/contacts`, {contacts: [uuidContact]}).then(msg => {
        console.log(msg)
        if (msg.data.code === 204) {
          this.getContacts(this.cmbCategory)
          this.$notif.showSuccessMsg({
            title: 'Exito',
            message: 'El registro ha sido eliminado satisfactoriamente'
          })
        }
      })
    },
    getContactNoneAssing () {
      http.get(`${config.URL_BASE}v1/categories/companies/${localStorage.getItem('company_id')}/contacts?nin_category=${this.cmbCategory}`).then(msg => {
        this.$store.commit('setLstContacts', msg.data.data)
        this.lstContacts = msg.data.data
      })
    }
  },
  created () {
    this.getCategories()
  },
  components: {
    assingClients
  },
  computed: {
    ...mapState(['contacts'])
  },
  watch: {
    contacts: function () {
      this.$refs.myModalRef.hide()
    }
  }
}
</script>
    