<template>
    <div class="container">
        <b-modal id="modal1"
        title="Módulo de categorias"
        hide-footer >
          <category></category>
        </b-modal>
        <div class="card">
            <div class="card-header">
                Lista de Categorias
            </div>
            <div class="card-body">

              <div class="form-group">
                <label for="">Busqueda</label>
                <input type="text"
                class="form-control"
                placeholder="Busqueda...." v-model="searchCategory">
              </div>
              <div style="float: right"  class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div  class="btn-group" role="group" aria-label="Third group">
                  <!-- <button class="btn btn-primary" type="Exportar a excel" >
                      <dowload-Excel
                        :data   = "listaDescription">
                        <i style="color:white"  class="fa fa-file-excel-o"></i>
                      </dowload-Excel>
                            </button> -->
                  <button   v-b-modal.modal1 type="button" class="btn btn-secondary btn-success" title="Nueva Categoria">
                    <i style="color:white" class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
              <br/>
              <br/>
                <!-- <table class="table table-sm">
                    <thead class="bg-primary">
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tr v-for="(obj, index) in filterBy(listaDescription, searchCategory, 'name', 'description')" :key="index">
                        <td>{{index +1 }}</td>
                        <td>{{obj.name}}</td>
                        <td>{{obj.description}}</td>
                        <td>
                          <button @click="goToUpdate(obj.id)" class="btn btn-success btn-sm"><i style="color:white" class="fa fa-pencil"></i></button>
                        </td>
                        <td> <button @click="eliminar(obj.id)" class="btn btn-danger btn-sm">
                                <i class="fa fa-trash"></i>    
                            </button>
                        </td>
                    </tr>
                </table> -->

             <filter-bar></filter-bar>
                <vuetable ref="vuetable"
              :api-url="url"
              :http-fetch="getList"
              :append-params="moreParams"
              pagination-path="pagination"
              :per-page="10"
              :fields="fields"
              @vuetable:pagination-data="onPaginationData">
              </vuetable>
              <vuetable-pagination-bootstrap ref="pagination"
              @vuetable-pagination:change-page="onChangePage">
              </vuetable-pagination-bootstrap>

            </div>
        <div class="card-footer">
        </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
import http from '../../services/axios-http'
import config from '../../../config/dev.env'
import category from './category'
import EventBus from '../event-bus'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePaginationBootstrap from '../../components/VuetablePaginationBootstrap'
import FilterBar from '../../components/SearchBar'
import CustomActions from '../../components/CustomActions'
Vue.component('custom-actions', CustomActions)
export default {
  name: 'ListaDescripcion',
  data () {
    return {
      listaDescription: [],
      searchCategory: '',
      url: `${config.URL_BASE}v1/companies/${localStorage.getItem('company_id')}/categories`,
      moreParams: {},
      httpOptions: {
        baseURL: `${config.URL_BASE}v1/companies/`,
        headers: {
          'Accept': this.$axios.defaults.headers['Accept'],
          'Content-Type': this.$axios.defaults.headers['Content-Type'],
          'Authorization': this.$axios.defaults.headers['Authorization']
        }
      },
      fields: [
        {
          name: 'name',
          title: 'Nombre',
          sortField: 'name',
          titleClass: 'center aligned',
          dataClass: 'center aligned'
        },
        {
          name: 'description',
          title: 'Descripcion',
          titleClass: 'center aligned',
          dataClass: 'center aligned'
        },
        {
          name: '__component:custom-actions',
          title: 'Acciones',
          titleClass: 'center aligned',
          dataClass: 'center aligned'
        }
      ]
    }
  },
  created () {
    EventBus.$on('newCategory', () => {
      Vue.nextTick(() => this.$refs.vuetable.refresh())
    })
  },
  methods: {
    getList (apiUrl, httpOptions) {
      console.log('ENTRO A LA PAGINA')
      this.params = httpOptions.params
      return this.$axios.get(this.url, httpOptions)
    },
    dameLista () {
      http.get(`${config.URL_BASE}v1/companies/${localStorage.getItem('company_id')}/categories`).then(msg => {
        console.log(msg.data.data)
        console.log('****************************')
        // this.listaDescription = msg.data.data
        return msg.data.data
      }, err => {
        console.log(err)
      })
    },
    deleteCategory (uuidCategory) {
      this.$swal({
        title: '¿Estas seguro?',
        text: 'El registro sera eliminado',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, eliminalo!',
        cancelButtonText: 'No, cancelar!'
      }).then((result) => {
        if (result.value) {
          http.deleteData(`${config.URL_BASE}v1/categories/${uuidCategory}`).then(msg => {
            console.log(msg)
            if (msg.data.code === 204) {
              Vue.nextTick(() => this.$refs.vuetable.refresh())
              // this.dameLista()
              this.$notif.showSuccessMsg({
                title: 'Exito',
                message: 'El registro ha sido eliminado satisfactoriamente'
              })
            } else if (msg.data.code === 409) {
              this.$notif.showWarnMsg({
                title: 'Alto',
                message: 'El registro no se puede eliminar por que esta siendo ocupado por otro'
              })
            }
          })
        }
      })
    },
    goToUpdate (id) {
      this.$router.push(`/updateCategori/${id}`)
    },
    getCategoriesByUuidContacts (contactId) {
      this.lstSims = []
      http.get(`${config.URL_BASE}v1/contacts/${contactId}/categories`).then(msg => {
        console.log('esta es la informacion')
        this.listaSims = msg.data.data
      })
      this.$refs.myModalRef.show()
    },
    onPaginationData (paginationData) {
      delete paginationData['has_next']
      delete paginationData['has_previous']
      delete paginationData['pages']
      this.$refs.pagination.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },
    onFilterSet (filterText) {
      this.moreParams = {
        'q': filterText
      }
      Vue.nextTick(() => this.$refs.vuetable.refresh())
    },
    onFilterReset () {
      this.moreParams = {}
      Vue.nextTick(() => this.$refs.vuetable.refresh())
    },
    activateRefresg (simId) {
      console.log(simId)
    }
  },
  components: {
    category,
    Vuetable,
    VuetablePaginationBootstrap,
    FilterBar
  },
  mounted () {
    this.$bus.$on('filter-set', eventData => this.onFilterSet(eventData))
    this.$bus.$on('filter-reset', e => this.onFilterReset())
    this.$bus.$on('update', eventData => this.goToUpdate(eventData))
    this.$bus.$on('delete', eventData => this.deleteCategory(eventData))
  }
}
</script>
