<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group mb-0">
            <div class="card p-4">
              <div class="card-body">
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input v-model="obj_login.email" type="text" class="form-control" placeholder="Username">
                </div>
                <div class="input-group mb-4">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input v-model="obj_login.password" type="password" class="form-control" placeholder="Password">
                </div>
                <div class="row">
                  <div class="col-6">
                    <button @click="login()" type="button" class="btn btn-primary px-4">Login</button>
                  </div>
                  <div class="col-6 text-right">
                    <button   type="button" class="btn btn-link px-0">Forgot password?</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import http from '../../services/axios-http'
import config from '../../../config/dev.env'
export default {
  name: 'Login',
  data () {
    return {
      obj_login: {
        grand_type: 'password',
        email: 'shotokan@hotmail.com',
        password: '123456789'
      }
    }
  },
  methods: {
    login () {
      http.post(`${config.URL_BASE}auth/token`, this.obj_login).then(msg => {
        if (msg === undefined) {
          this.$notif.showWarnMsg({
            title: 'Credenciales Incorrectas',
            message: 'Intente de nuevo'
          })
        } else {
          console.log('****************')
          console.log(msg)
          console.log('****************')
          if (msg.status === 200) {
            this.$notif.showSuccessMsg({
              title: 'Acceso correcto',
              message: 'Bienvenido!'
            })
            localStorage.setItem('company_id', msg.data.data.company_id)
            localStorage.setItem('access_token', msg.data.data.access_token)
            localStorage.setItem('membership_id', msg.data.data.membership_id)
            localStorage.setItem('refresh_token', msg.data.data.refresh_token)
            localStorage.setItem('user_id', msg.data.data.user_id)
            localStorage.setItem('role', msg.data.data.role)
            this.$router.push('/main')
          }
        }
      }, err => {
        console.log(err)
        // if (err.response.data.status === 401) {
        this.$notif.showWarnMsg({
          title: 'Acceso Incorrecto',
          message: 'Alto!!'
        })
        // }
      })
    }
  },
  created () {
  }
}
</script>
