<template>

    <div>
    <select v-model="cmbCategory" @change="sendUidCategory" class="form-control" id="">
        <option :value="0" >Seleccione una categoria</option>
        <option v-for="(obj, index) in lstCategories" :value="obj.id" :key="index">{{obj.name}}</option>
    </select>

    <!-- <v-select label="name" :options="lstCategories"></v-select> -->
    </div>
</template>

<script>
import http from '../../../services/axios-http'
import config from '../../../../config/dev.env'
import EventBus from '../../event-bus'
export default {
  data () {
    return {
      lstCategories: [{}],
      cmbCategory: 0
    }
  },
  created () {
    this.getCategories()
  },
  methods: {
    getCategories () {
      http.get(`${config.URL_BASE}v1/companies/${localStorage.getItem('company_id')}/categories`).then(msg => {
        this.lstCategories = Object.assign({}, this.lstCategories, msg.data.data)
        console.log(this.lstCategories)
      }, err => {
        console.log(err)
      })
    },
    getContacts () {
      http.get(`${config.URL_BASE}v1/categories/${this.cmbCategory}/contacts`).then(msg => {
        this.contacts = Object.assign({}, this.contacts, msg.data.data)
        console.log(msg)
      })
    },
    sendUidCategory () {
      console.log('ESTE ES EL ID QUE SE ENVIA')
      console.log(this.cmbCategory)
      EventBus.$emit('selectCategory', this.cmbCategory)
    }
  }

}
</script>

<style scoped>

</style>