<template>

  <div class="animated fadeIn">
    <b-modal id="modal1"
        title= 'Gestión de creditos'
        hide-footer
        size="sm"
        ref="myModalRef">
         <b-alert v-if="undistributed_credits - count < 0" show variant="warning">No existe suficientes creditos para asignar</b-alert>
         <b-alert v-if="count == ''" show variant="warning">Escribe una cantidad</b-alert>
        <!-- <cmbUser></cmbUser> -->
        <div class="form-group">
          <label for="">Total de creditos:</label>
          <label v-bind:class="{ warning: undistributed_credits - count < 0}" for="">{{undistributed_credits - count}}</label>
        </div>
        <div class="form-group">
          <label for="">Cantidad</label>
          <input v-model="count" min="1" type="number" class="form-control">
        </div>
        <div class="form-group">
          <button v-if="deleteCredit == false" @click="addCredit"  :disabled= "undistributed_credits - count < 0 || count == '' || count <= 0 " class="btn btn-primary">Guardar</button>
          <button v-if="deleteCredit == true" @click="deleteCredits" :disabled= "undistributed_credits - count < 0 || count == '' || count <= 0 " class="btn btn-danger">Eliminar</button>
        </div>

    </b-modal>

    <div class="row" >
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="card">
          <div class="card-body p-0 clearfix">
              <i class="fa fa-send bg-success p-4 px-5 font-2xl mr-3 float-left"></i>
            <div class="h5 mb-0 pt-3 text-center">{{total_credits}}</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs text-center">TOTAL DE CREDITOS</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="card">
          <div class="card-body p-0 clearfix">
              <i class="fa fa-envelope-open bg-warning p-4 px-5 font-2xl mr-3 float-left"></i>
            <div class="h5 mb-0 pt-3 text-center">{{undistributed_credits}}</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs text-center">CREDITOS NO DISTRIBUIDOS</div>
          </div>
        </div>
        <!-- <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="row">
            <div class="col-lg-6 text-center">
              <i class="fa fa-envelope-open fa-4x"></i>
            </div>
            <div class="col-lg-6 text-center"><h4 class="mb-0">{{undistributed_credits}}</h4>
          <p>CREDITOS NO DISTRIBUIDOS</p></div>
          </div>
        </div>
      </div> -->
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="card">
          <div class="card-body p-0 clearfix">
              <i class="fa fa-envelope-open bg-info p-4 px-5 font-2xl mr-3 float-left"></i>
            <div class="h5 mb-0 pt-3 text-center">{{distributed_credits}}</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs text-center">CREDITOS  DISTRIBUIDOS</div>
          </div>
        </div>
        <!-- <div class="card text-white bg-info"> -->
        <!-- <div class="card-body pb-0">
          <div class="row">
            <div class="col-lg-6 text-center">
              <i class="fa fa-envelope-open-o fa-4x"></i>
            </div>
            <div class="col-lg-6 text-center">
              <h4 class="mb-0">{{distributed_credits}}</h4>
              <p>CREDITOS  DISTRIBUIDOS</p>
            </div>
          </div>
        </div> -->
      <!-- </div> -->
      </div>
    </div>
    <div class="row" v-if="role === 'admin'">
      <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header">
        Creditos asignados
      </div>
      <div class="card-body">
        <div class="form-group">
          <input type="text"
          class="form-control"
          v-model="searchMembership"
          placeholder="Busqueda...">
        </div>
        <table class="table table-sm table-hover">
          <thead class="bg-primary">
            <th>#</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Creditos disponibles</th>
            <th>Credito</th>
            <th></th>
          </thead>
          <tr v-for="(obj, index) in  filterBy(lstCredits, searchMembership, 'name', 'available')" :key="index">
            <td>{{index +1}}</td>
            <td>{{obj.name}}</td>
            <td>{{obj.email}}</td>
            <td>{{obj.available}}</td>
            <td><a style="cursor:pointer;" @click="openModal(obj.membership_id)"><i title="Agregar Credito" class="fa fa-credit-card"></i></a></td>
            <td>
              <button :disabled="obj.available == 0" class="btn btn-danger btn-sm" @click="openModalDelete(obj.membership_id, obj.available )">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    </div>
    </div>
  </div>
</template>

<script>
import http from './../services/axios-http'
import config from '../../config/dev.env'
import cmbUser from './users/components/cmbUsers'

export default {
  data () {
    return {
      lstCredits: [],
      distributed_credits: 0,
      total_credits: 0,
      undistributed_credits: 0,
      count: 0,
      memberShip: '',
      searchMembership: '',
      deleteCredit: false,
      titleModal: 'Asignacion de creditos',
      role: localStorage.getItem('role')
    }
  },
  methods: {
    getCredits () {
      if (localStorage.getItem('role') === 'admin') {
        http.get(`${config.URL_BASE}V1/companies/${localStorage.getItem('company_id')}/credits`).then(msg => {
          this.lstCredits = msg.data.data.user_credits
          this.distributed_credits = msg.data.data.distributed_credits
          this.total_credits = msg.data.data.total_credits
          this.undistributed_credits = msg.data.data.undistributed_credits
        })
      } else {
        console.log('ENTRO A CARGAS SUS DATOS')
        http.get(`${config.URL_BASE}v1/memberShip/${localStorage.getItem('membership_id')}/credits`).then(msg => {
          console.log(msg)
          this.total_credits = msg.data.data.available
          this.distributed_credits = msg.data.data.amount
        })
      }
    },
    openModal (memberShip) {
      this.titleModal = 'Asignacion de creditos'
      this.deleteCredit = false
      this.memberShip = memberShip
      this.count = 0
      this.$refs.myModalRef.show({title: 'Asignacion de creditos'})
    },
    openModalDelete (membership, count) {
      this.title = 'Eliminar creditos '
      console.log(membership)
      console.log(count)
      this.deleteCredit = true
      this.memberShip = membership
      this.count = count
      this.$refs.myModalRef.show()
    },
    addCredit () {
      http.patchData(`${config.URL_BASE}v1/memberShip/${this.memberShip}/credits`, {'credits': parseInt(this.count)}).then(msg => {
        if (msg.data.status === 200) {
          this.$notif.showSuccessMsg({
            title: 'Exito',
            message: 'Creditos agregados'
          })
          this.getCredits()
          this.count = 0
          this.$refs.myModalRef.hide()
        }
      }, err => {
        console.log(err)
      })
    },
    deleteCredits () {
      http.deleteData(`${config.URL_BASE}v1/memberShip/${this.memberShip}/credits`, {credits: parseInt(this.count)}).then(msg => {
        this.getCredits()
        this.$refs.myModalRef.hide()
        this.$notif.showSuccessMsg({
          title: 'Exito',
          message: 'Creditos eliminados'
        })
      }, err => {
        console.log(err)
      })
    }
  },
  created () {
    this.getCredits()
  },
  components: {
    cmbUser
  }
}
</script>
<style>

.warning{
color: red
}
</style>
