// CustomActions.vue

  <template>
    <div class="custom-actions">
      <button class="btn btn-primary btn-sm" @click="updateAction('update-action', rowData, rowIndex)"><i class="fa fa-pencil"></i></button>
      <button class="btn btn-danger" @click="deleteAction('edit-item', rowData, rowIndex)"><i class="fa fa-trash"></i> </button>
    </div>
  </template>

  <script>
  export default {
    props: {
      rowData: {
        type: Object,
        required: true
      },
      rowIndex: {
        type: Number
      }
    },
    methods: {
      updateAction (action, data, index) {
        console.log(data)
        this.$bus.$emit('update', data)
      },
      deleteAction (action, data, index) {
        this.$bus.$emit('delete', data.id)
      }
    }
  }
  </script>

  <style>
    .cursor {
        cursor:pointer;
    }
    .custom-actions button.ui.a {
      padding: 8px 8px;
    }
    .custom-actions button.ui.a > i.fa {
      margin: auto !important;
    }
    .blocked {
        color: red;
    }
    .active-sim {
        color: green;
    }
  </style>