  <template>
    <div class="custom-actions">
      <b-button-group>
      <!-- <button class="btn btn-success btn-sm" @click="update('view-detail', rowData, rowIndex)"><i class="fa fa-pencil" style="color: white"></i></button> -->
      <button class="btn btn-primary btn-sm" @click="viewDatail('view-detail', rowData, rowIndex)"><i class="fa fa-list"></i> </button>
    </b-button-group>
    </div>
  </template>

  <script>
  export default {
    props: {
      rowData: {
        type: Object,
        required: true
      },
      rowIndex: {
        type: Number
      }
    },
    methods: {
      viewDatail (action, data, index) {
        this.$bus.$emit('view-detail', data.id)
      },
      update (action, data, index) {
        this.$bus.$emit('update', data.id)
      }
    }
  }
  </script>

  <style>
    .cursor {
        cursor:pointer;
    }
    .custom-actions button.ui.a {
      padding: 8px 8px;
    }
    .custom-actions button.ui.a > i.fa {
      margin: auto !important;
    }
    .blocked {
        color: red;
    }
    .active-sim {
        color: green;
    }
  </style>