 // FilterBar.vue

  <template>
    <div class="filter-bar ui basic segment grid">
      <div class="ui form">
         <b-form inline>
          <!-- <label>Search for:</label> -->
          <b-form-input label="Search for:" type="text" v-model="filterText" class="w-50 three wide column" @keyup.enter="doFilter" placeholder="Buscar..."></b-form-input>
          <b-button variant="primary" @click="doFilter">Go</b-button>
          <b-button variant="danger" @click="resetFilter">Reset</b-button>
         </b-form>
      </div>
    </div>
  </template>

  <script>
  export default {
    data () {
      return {
        filterText: ''
      }
    },
    methods: {
      doFilter () {
        console.log('doFilter:', this.filterText)
        this.$bus.$emit('filter-set', this.filterText)
      },
      resetFilter () {
        this.filterText = ''
        this.$bus.$emit('filter-reset')
      }
    }
  }
</script>

<style lang="css" scoped>
  .filter-bar  {
    margin-bottom: 10px;
  }
</style>
