<template>
 <div class="card">
     <div class="card-header">
         Nuevo contacto
     </div>
     <div class="card-body">
         <div class="col-lg-12">
            <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                        <label for="">Nombres:</label>
                    <input v-model="objContacts.first_name" type="text" class="form-control" placeholder="Nombre(s) del contacto">
                </div>
                <div class="form-group">
                    <label for="">Apellidos:</label>
                    <input v-model="objContacts.last_name" type="text" class="form-control" placeholder="Apellidos del contacto">
                </div>
                <div class="form-group">
                    <label for="">Edad:</label>
                    <input v-validate="{required : true, numeric: true }" name="numeric_field" min="1" v-model="objContacts.age" type="number" step="1"  class="form-control" placeholder="Edad">
                </div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <label for="">Celular:</label>
                        <input type="text"
                        v-model="objContacts.phone"
                        v-mask="'(###) #### ###'"
                        class="form-control" placeholder="Teléfono del contacto">
                    </div>
                    <div class="form-group">
                        <label for="">Correo electronico:</label>
                        <input v-model="objContacts.email" type="email" class="form-control" placeholder="Correo electronico" v-validate="{required : true, email: true }"  name="email">
                    </div>
                    <div class="form-group">

                        <select style="margin-top:45px" name="" id="" class="form-control" v-model="objContacts.sex">
                            <option value="0">Seleccione un sexo</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label for="">Observaciones</label>
                    <textarea v-model="objContacts.observations" name="" id="" cols="10" rows="5" class="form-control" placeholder="Observaciones..."></textarea>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="col-lg-12">
                    <button v-if="objContacts.uuidContact == 0"  @click="save" class="btn btn-primary">Guardar</button>
                    <button @click="update" v-else class="btn btn-primary">Actualizar</button>
                </div>
            </div>
         </div>
     </div>
 </div>
</template>
<script>
import http from '../../services/axios-http'
import config from '../../../config/dev.env'
export default {
  name: 'Contacts',
  data () {
    return {
      objContacts: {
        uuidContact: 0,
        uuidCompany: localStorage.getItem('company_id'),
        first_name: '',
        last_name: '',
        phone: '',
        email: '',
        observations: '',
        sex: 0,
        age: 0
      }
    }
  },
  methods: {
    save () {
      var ok = this.validate()
      if (ok) {
        this.objContacts.phone = this.objContacts.phone.replace('(', '')
        this.objContacts.phone = this.objContacts.phone.replace(')', '')
        this.objContacts.phone = this.objContacts.phone.replace(' ', '')
        this.objContacts.phone = this.objContacts.phone.replace(' ', '')
        console.log(this.objContacts.phone)
        http.post(`${config.URL_BASE}v1/categories/companies/${localStorage.getItem('company_id')}/contacts`, this.objContacts).then(msg => {
          console.log(msg)
          console.log('regreso correctamente el response')
          if (msg.data.code === 412) {
            console.log(msg)
            console.log('El sistema esta en mantenimiento.')
          } else if (msg.data.code === 201) {
            this.clean()
            this.$notif.showSuccessMsg({
              title: 'Exito',
              message: 'Nuevo contacto disponible'
            })
          }
        }, err => {
          console.log(err)
        })
      }
    },
    update () {
      var ok = this.validate()
      if (ok) {
        this.objContacts.phone = this.objContacts.phone.replace('(', '')
        this.objContacts.phone = this.objContacts.phone.replace(')', '')
        this.objContacts.phone = this.objContacts.phone.replace(' ', '')
        this.objContacts.phone = this.objContacts.phone.replace(' ', '')
        http.putData(`${config.URL_BASE}v1/contacts/${this.$route.params.uuid}`, this.objContacts).then(msg => {
          console.log(msg)
          if (msg.status === 204) {
            this.$notif.showSuccessMsg({
              title: 'Exito',
              message: 'El registro ha sido actualizado'
            })
            this.$router.push(`/lstContact`)
          }
        }).catch(err => {
          console.log(err)
        })
      }
    },
    clean () {
      this.objContacts.first_name = ''
      this.objContacts.last_name = ''
      this.objContacts.phone = ''
      this.objContacts.email = ''
      this.objContacts.observations = ''
      this.objContacts.age = 0
      this.objContacts.sex = 0
    },
    validate () {
      var ok = false
      if (this.objContacts.first_name === '') {
        this.$notif.showWarnMsg({
          title: 'Alto',
          message: 'Se requiere un nombre'
        })
      } else if (this.objContacts.last_name === '') {
        this.$notif.showWarnMsg({
          title: 'Alto',
          message: 'Se requiere un apellido'
        })
      } else if (this.objContacts.phone === '' || this.objContacts.phone === 0) {
        this.$notif.showWarnMsg({
          title: 'Alto',
          message: 'Se requiere un telefono'
        })
      } else if (this.objContacts.phone.length < 10) {
        this.$notif.showWarnMsg({
          title: 'Alto',
          message: 'Escribe un telefono valido con un minimo de 10 digitos'
        })
      } else if (this.objContacts.email === '') {
        this.$notif.showWarnMsg({
          title: 'Alto',
          message: 'Se requiere un correo electronico'
        })
      } else if (this.errors.has('email')) {
        this.$notif.showWarnMsg({
          title: 'Alto',
          message: 'Ingrese un correo valido'
        })
      } else if (this.objContacts.observations === '') {
        this.$notif.showWarnMsg({
          title: 'Alto',
          message: 'Se requiere observaciones'
        })
      } else if (this.objContacts.age === 0) {
        this.$notif.showWarnMsg({
          title: 'Alto',
          message: 'Se requiere una edad'
        })
      } else if (this.objContacts.age < 0) {
        this.$notif.showWarnMsg({
          title: 'Alto',
          message: 'Se requiere una edad valida'
        })
      } else if (this.errors.has('numeric_field')) {
        this.$notif.showWarnMsg({
          title: 'Alto',
          message: 'Ingrese una edad valida'
        })
      } else if (this.objContacts.sex === 0) {
        this.$notif.showWarnMsg({
          title: 'Alto',
          message: 'Seleccione un sexo'
        })
      } else {
        ok = true
      }
      return ok
    }
  },
  created () {
    if (this.objContacts.uuidContact !== undefined) {
      console.log('**********************************************************')
      console.log(`${config.URL_BASE}v1/contacts/${this.$route.params.uuid}`)
      console.log('**********************************************************')
      http.get(`${config.URL_BASE}v1/contacts/${this.$route.params.uuid}`).then(msg => {
        console.log(msg)
        this.objContacts = msg.data
      })
    } else {
      console.log('no entro a la busqueda')
      this.objContacts.uuidContact = 0
    }
  },
  beforeCreate () {
    this.objContacts.uuidContact = this.$route.params.uuid
  }
}
</script>
