<template>
    <div class="container">
      <b-modal id="modal1"
        title="Categorias Asociadas"
        hide-footer
        size="sm"
        ref="myModalRef" >
        <table class="table table-sm">
          <thead>
            <th>#</th>
            <th>Categoria</th>
          </thead>
          <tr v-for="(obj, index) in lstCategories" :key="index">
            <td>{{index +1}}</td>
            <td>{{obj.name}}</td>
          </tr>
          <tr v-if="lstCategories.length ==0">
            <td colspan="2">
              <span>No hay registros para mostrar</span>
            </td>
          </tr>

        </table>
        </b-modal>
        <div class="card">
            <div class="card-header">
                Lista de Contactos
            </div>
            <div class="card-body">
                <!-- <div class="form-group">
                <label for="">Busqueda</label>
                <input type="text"
                class="form-control"
                placeholder="Busqueda...." v-model="searchCategory">
              </div> -->
              <button class="btn btn-primary" style="float: right" >
               <dowload-Excel
                :data   = "listaContactos">
                <i class="fa fa-file-excel-o"></i>
              </dowload-Excel>
              </button>
              <br/>
              <br/>
            <!-- <table class="table table-sm">
                <thead class="bg-primary">
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Sexo</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Observaciones</th>
                    <th></th>
                </thead>
                <tr v-for="(obj, index) in filterBy(listaContactos, searchCategory, 'first_name','phone', 'email','observations')" :key="index">
                    <td>{{index +1}}</td>
                    <td>{{obj.first_name}}</td>
                    <td>{{obj.age}}</td>
                    <td>{{obj.sex}}</td>
                    <td>{{obj.phone}}</td>
                    <td>{{obj.email}}</td>
                    <td>{{obj.observations}}</td>
                    <td><button title="Detalles del usuario"
                    @click="getCategoriesByUuidContacts(obj.id)"
                    c><i class="fa fa-list"></i></button></td>
                </tr>
            </table> -->
            <filter-bar></filter-bar>
            <div class="table-responsive">


              <vuetable ref="vuetable"
              :api-url="url"
              :http-fetch="getList"
              :append-params="moreParams"
              pagination-path="pagination"
              :per-page="10"
              :fields="fields"
              @vuetable:pagination-data="onPaginationData">
              </vuetable>
              </div>
              <vuetable-pagination-bootstrap ref="pagination"
              @vuetable-pagination:change-page="onChangePage">
              </vuetable-pagination-bootstrap>
            </div>
        <div class="card-footer">
        </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
import http from '../../services/axios-http'
import config from '../../../config/dev.env'
import EventBus from '../event-bus'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePaginationBootstrap from '../../components/VuetablePaginationBootstrap'
import FilterBar from '../../components/SearchBar'
import CustomActionContacts from '../../components/CustomActionContacts'
Vue.component('custom-actions-contacts', CustomActionContacts)
export default {
  name: 'ListaContactos',
  data () {
    return {
      listaContactos: [],
      searchCategory: '',
      lstCategories: [],
      url: `${config.URL_BASE}v1/categories/companies/${localStorage.getItem('company_id')}/contacts`,
      moreParams: {},
      httpOptions: {
        baseURL: `${config.URL_BASE}v1/companies/`,
        headers: {
          'Accept': this.$axios.defaults.headers['Accept'],
          'Content-Type': this.$axios.defaults.headers['Content-Type'],
          'Authorization': this.$axios.defaults.headers['Authorization']
        }
      },
      fields: [
        {
          name: 'first_name',
          title: 'Nombre',
          sortField: 'name',
          titleClass: 'center aligned',
          dataClass: 'center aligned'
        },
        {
          name: 'age',
          title: 'Edad',
          titleClass: 'center aligned',
          dataClass: 'center aligned'
        },
        {
          name: 'sex',
          title: 'Sexo',
          titleClass: 'center aligned',
          dataClass: 'center aligned'
        },
        {
          name: 'phone',
          title: 'Telefono',
          titleClass: 'center aligned',
          dataClass: 'center aligned'
        },
        {
          name: 'email',
          title: 'Correo',
          titleClass: 'center aligned',
          dataClass: 'center aligned'
        },
        {
          name: 'observations',
          title: 'Observaciones',
          titleClass: 'center aligned',
          dataClass: 'center aligned'
        },
        {
          name: '__component:custom-actions-contacts',
          title: 'Acciones',
          titleClass: 'center aligned',
          dataClass: 'center aligned'
        }
      ]
    }
  },
  computed: {
  },
  created () {
    EventBus.$on('newCategory', () => {
      Vue.nextTick(() => this.$refs.vuetable.refresh())
    })
  },
  methods: {
    getList (apiUrl, httpOptions) {
      console.log('ENTRO A LA PAGINA')
      this.params = httpOptions.params
      return this.$axios.get(this.url, httpOptions)
    },
    // getList () {
    //   http.get(`${config.URL_BASE}v1/categories/companies/${localStorage.getItem('company_id')}/contacts`).then(msg => {
    //     this.listaContactos = msg.data.data
    //   }, err => {
    //     console.log(err)
    //   })
    // },
    getCategoriesByUuidContacts (contactId) {
      console.log(contactId)
      this.lstCategories = []
      http.get(`${config.URL_BASE}v1/contacts/${contactId}/categories`).then(msg => {
        console.log('esta es la informacion')
        this.lstCategories = msg.data.data
      })
      this.$refs.myModalRef.show()
    },
    onPaginationData (paginationData) {
      delete paginationData['has_next']
      delete paginationData['has_previous']
      delete paginationData['pages']
      this.$refs.pagination.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },
    onFilterSet (filterText) {
      this.moreParams = {
        'q': filterText
      }
      Vue.nextTick(() => this.$refs.vuetable.refresh())
    },
    onFilterReset () {
      this.moreParams = {}
      Vue.nextTick(() => this.$refs.vuetable.refresh())
    },
    activateRefresg (simId) {
      console.log(simId)
    },
    goToUpdate (uuid) {
      this.$router.push(`/updateContact/${uuid}`)
    }
  },
  components: {
    Vuetable,
    VuetablePaginationBootstrap,
    FilterBar
  },
  mounted () {
    this.$bus.$on('filter-set', eventData => this.onFilterSet(eventData))
    this.$bus.$on('filter-reset', e => this.onFilterReset())
    this.$bus.$on('view-detail', eventData => this.getCategoriesByUuidContacts(eventData))
    this.$bus.$on('update', eventData => this.goToUpdate(eventData))
  }
}
</script>


