<template>
    <select class="form-control">
        <option :value="0">Seleccione un usuario</option>
        <option v-for="(obj, index) in lstUsuarios" :key="index" :value="obj.id"></option>
    </select>
</template>

<script>
    import http from '../../../services/axios-http'
    import config from '../../../../config/dev.env'
    export default {
      data () {
        return {
          lstUsuarios: []
        }
      },
      methods: {
        getLstUser () {
          console.log(`${config.URL_BASE}v1/users/companies/${localStorage.getItem('company_id')}/memberships`)
          http.get(`${config.URL_BASE}v1/users/companies/${localStorage.getItem('company_id')}/memberships`).then(msg => {
            this.lstUsuarios = msg.data.data
          })
        }
      },
      created () {
        this.getLstUser()
      }
    }
</script>

<style scoped>

</style>