<template>
<div class="card">
    <div class="card card-header">
        Envio de mensajes
    </div>
<div class="card-body">
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label for="">Fecha de envio</label>
        <datetime v-model="objSend.send_date"
        format="yyyy-MM-dd HH:mm:ss"
        type="datetime"
        input-class="form-control"
        ></datetime>
        <!-- <input type="datetime-local" class="form-control" v-model="objSend.send_date"> -->
      </div>
      <div class="form-group">
        <category></category>
      </div>
        <div class="form-group">
          <label for="">Nombre de la campaña:</label>
          <input type="text" class="form-control" v-model="objSend.title">
        </div>
        <div class="form-group">
          <label for="">Mensaje:</label>
          <textarea :maxlength="150" v-model="objSend.message" name="" class="form-control" id="" cols="30" rows="10"></textarea>
          <span>{{objSend.message.length}}/150</span>
        </div>
        <div class="form-group">
          <button @click="sendMessage" class="btn btn-primary"> <i class="fa fa-send"></i> Enviar </button>
        </div>
        <!-- <table class="table table-hover table-sm">
                  <thead>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Observaciones</th>
                  </thead>
                  <tr v-for="(obj, index) in objSend.contacts" :key="index">
                    <td>{{index +1}}</td>
                    <td>{{obj.first_name}}</td>
                    <td>{{obj.email}}</td>
                    <td>{{obj.observations}}</td>
                  </tr>
                  <tr>
                    <td colspan="4" v-if="objSend.contacts.length === 0">
                      No hay registros disponibles
                    </td>
                  </tr>
          </table> -->
    </div>
  <div class="col-lg-6">
      <div class="form-group">
        <label for="">Phones:</label>
        <input v-model="phone" type="text"
        v-mask="'(###) #### ###'"
        class="form-control" placeholder="Numero">
      </div>
      <div class="form-group">
        <button @click="addPhones" class="btn btn-primary">
          Agregar
        </button>
      </div>
      <table class="table table-sm">
        <thead>
          <th>#</th>
          <th>Numero</th>
          <th></th>
        </thead>
        <tr v-for="(obj, index) in objSend.phones" :key="index">
          <td>{{index + 1}}</td>
          <td>{{obj}}</td>
          <td><a @click="deletePhones(index)" title="Eliminar numero" style="color: red"><i class="fa fa-trash"></i></a></td>
        </tr>
      </table>
  </div>
  </div>
</div>
</div>
</template>

<script>
import category from '../categories/components/cmbCategories'
import EventBus from './../event-bus'
import http from './../../services/axios-http'
import config from './../../../config/dev.env'
export default {
  name: 'Category',
  data () {
    return {
      phone: '',
      objSend: {
        company_id: localStorage.getItem('company_id'),
        user_id: localStorage.getItem('membership_id'),
        title: '',
        message: '',
        send_date: '',
        priority: '',
        contacts: [],
        phones: []
      }
    }
  },
  created () {
    EventBus.$on('selectCategory', (data) => {
      this.getContacts(data)
    })
  },
  methods: {
    getContacts (uuidCategory) {
      http.get(`${config.URL_BASE}v1/categories/${uuidCategory}/contacts`).then(msg => {
        this.objSend.contacts = msg.data.data
      })
    },
    sendMessage () {
      this.objSend.send_date = this.$moment(String(this.objSend.send_date)).format('YYYY-MM-DDThh:mm')
      var ok = this.validate()
      if (ok) {
        http.post(`${config.URL_BASE}sender/sendContacts`, this.objSend).then(msg => {
          if (msg.data.status === 200) {
            this.$notif.showSuccessMsg({
              title: 'Exito',
              message: 'Se ha enviado tu mensaje'
            })
            this.clean()
          }
          console.log(msg)
        })
      }
    },
    addPhones () {
      if (this.validateAddNumber()) {
        this.phone = this.phone.replace('(', '')
        this.phone = this.phone.replace(')', '')
        this.phone = this.phone.replace(' ', '')
        this.phone = this.phone.replace(' ', '')
        this.objSend.phones.push(this.phone)
        this.phone = ''
      }
    },
    validateAddNumber () {
      var ok = false
      if (this.phone === '') {
        this.$notif.showWarnMsg({
          title: 'Alto',
          message: 'Se requiere un numero para agregar'
        })
      } else if (this.phone.length < 10) {
        this.$notif.showWarnMsg({
          title: 'Alto',
          message: 'Ingrese un numero de 10 digitos'
        })
      } else {
        ok = true
      }
      return ok
    },
    deletePhones (index) {
      this.objSend.phones.splice(index, 1)
    },
    validate () {
      var ok = false
      if (this.objSend.message === '') {
        this.$notif.showWarnMsg({
          title: 'Alto',
          message: 'Se requiere un mensaje'
        })
      } else if (this.objSend.title === '') {
        this.$notif.showWarnMsg({
          title: 'Alto',
          message: 'Se requiere un titulo'
        })
      } else {
        ok = true
      }
      return ok
    },
    clean () {
      this.objSend.title = ''
      this.objSend.phones = []
      this.objSend.message = ''
      this.objSend.data = ''
      this.objSend.send_date = ''
    }
  },
  components: {
    category
  }
}
</script>

<style scoped>

</style>