<template>
 <div class="card">
     <div class="card-header">
         Envio de mensajes
     </div>
     <div class="card-body">
         <div class="col-lg-12">
           <div class="row">
             <div class="col">
                <div class="form-group">
                  <label for="">Fecha de evio:</label>
                  <!-- <input type="datetime-local" v-model="send_date"  class="form-control"/> -->
                  <datetime v-model="send_date"
                  format="yyyy-MM-dd HH:mm:ss"
                  type="datetime"
                  input-class="form-control"
                  ></datetime>
                </div>
             </div>
           </div>
                <div class="form-group">
                  <label for="">Titulo</label>
                  <input v-model="title" type="text" name="" class="form-control" id=""/>
                </div>
                <div class="form-group">
                    <label for="">Escribe tu mensaje</label>
                    <textarea  :maxlength="150" v-model="message" name="" id=""
                    cols="10" rows="5" class="form-control"></textarea>
                     <span>{{message.length}}/150</span>
                </div>
                <div class="form-group">
                    <label for="">Seleccione tu archivo</label>
                    <input  type="file" id="file" ref="file" v-on:change="handledFileUpload()"  accept=".xlsx, .xls"/>
                </div>
            <div class="row" style="margin-top:20px">
                <div class="col-lg-12">
                    <button @click="save" class="btn btn-primary"> <i class="fa fa-send"></i>  Enviar Mensaje</button>
                </div>
            </div>
         </div>
     </div>
 </div>
</template>
<script>
import http from '../../services/axios-http'
import config from '../../../config/dev.env'

export default {
  name: 'Contacts',
  data () {
    return {
      file: '',
      message: '',
      title: '',
      send_date: ''
    }
  },
  methods: {
    save () {
      this.send_date = this.$moment(String(this.send_date)).format('YYYY-MM-DDThh:mm')
      console.log(this.send_date)
      var ok = this.validate()
      if (ok) {
        let formData = new FormData()
        formData.append('file', this.file)
        formData.append('company_id', localStorage.getItem('company_id'))
        formData.append('user_id', localStorage.getItem('membership_id'))
        formData.append('message', this.message)
        formData.append('title', this.title)
        formData.append('send_date', this.send_date)
        http.post(`${config.URL_BASE}sender/upload`, formData).then(resp => {
          if (resp.data.status === 201) {
            this.clean()
            this.$notif.showSuccessMsg(
              {
                message: 'Nuevo archivo disponible'
              }
            )
          }
        }, err => {
          if (err.response.status === 400) {
            this.$notif.showWarnMsg({
              title: 'Alto',
              message: 'Seleccione un archivo valido xls o xlsx'
            })
          }
          console.log('entro al carch de la excepcion')
          console.log(err)
        })
      }
    },
    validate () {
      var ok = false
      if (this.file === '') {
        this.$notif.showWarnMsg({
          title: 'Alto',
          message: 'Seleccione un archivo'
        })
      } else if (this.message === '') {
        this.$notif.showWarnMsg({
          title: 'Alto',
          message: 'Se requiere un mensaje'
        })
      } else if (this.title === '') {
        this.$notif.showWarnMsg({
          title: 'Alto',
          message: 'Se requiere un titulo'
        })
      } else {
        ok = true
      }
      return ok
    },
    handledFileUpload () {
      this.file = this.$refs.file.files[0]
    },
    clean () {
      this.$refs.file.value = ''
      this.file = ''
      this.title = ''
      this.message = ''
      this.send_date = ''
    }
  },
  components: {
  }
}
</script>
