<template>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Lista de Contactos
            </div>
            <div class="card-body">
              <button class="btn btn-primary" style="float: right" >
               <dowload-Excel
                :data   = "listaContactos">
                <i class="fa fa-file-excel-o"></i>
              </dowload-Excel>
              </button>
              <br/>
              <br/>
            <filter-bar></filter-bar>
              <vuetable ref="vuetable"
              :api-url="url"
              :http-fetch="getList"
              :append-params="moreParams"
              pagination-path="pagination"
              :per-page="10"
              :fields="fields"
              @vuetable:pagination-data="onPaginationData">
              </vuetable>
              <vuetable-pagination-bootstrap ref="pagination"
              @vuetable-pagination:change-page="onChangePage">
              </vuetable-pagination-bootstrap>
            </div>
        <div class="card-footer">
        </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
// import http from '../../services/axios-http'
import config from '../../../config/dev.env'
import EventBus from '../event-bus'
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePaginationBootstrap from '../../components/VuetablePaginationBootstrap'
import FilterBar from '../../components/SearchBar'
import CustomActionContacts from '../../components/CustomActionContacts'
Vue.component('custom-actions-contacts', CustomActionContacts)
export default {
  name: 'ListaContactos',
  data () {
    return {
      listaContactos: [],
      searchCategory: '',
      lstCategories: [],
      uuid: '',
      url: `${config.URL_BASE}v1/companies/${localStorage.getItem('company_id')}/sms-groups`,
      moreParams: {},
      httpOptions: {
        baseURL: `${config.URL_BASE}v1/companies/`,
        headers: {
          'Accept': this.$axios.defaults.headers['Accept'],
          'Content-Type': this.$axios.defaults.headers['Content-Type'],
          'Authorization': this.$axios.defaults.headers['Authorization']
        }
      },
      fields: [
        {
          name: 'send_date',
          title: 'Fecha de envio',
          sortField: 'send_date',
          titleClass: 'center aligned',
          dataClass: 'center aligned',
          callback: 'formateDate'
        },
        {
          name: 'phone',
          title: 'Telefono',
          sortField: 'name',
          titleClass: 'center aligned',
          dataClass: 'center aligned'

        },
        {
          name: 'message',
          title: 'Mensaje',
          sortField: 'message',
          titleClass: 'center aligned',
          dataClass: 'center aligned'
        },
        {
          name: 'sent',
          title: 'Estado',
          sortField: 'sent',
          titleClass: 'center aligned',
          dataClass: 'center aligned'
        }
      ]
    }
  },
  computed: {
  },
  created () {
    this.uuid = this.$route.params.uuid
    console.log('************************')
    this.url = `${this.url}/${this.uuid}/sms`
    console.log(this.$route.params.uuid)
    console.log(this.uuid)
    console.log(this.url)

    console.log('************************')
    Vue.nextTick(() => this.$refs.vuetable.refresh())
    EventBus.$on('newCategory', () => {
      Vue.nextTick(() => this.$refs.vuetable.refresh())
    })
  },
  methods: {
    getList (apiUrl, httpOptions) {
      console.log('ENTRO A LA PAGINA')
      this.params = httpOptions.params
      return this.$axios.get(this.url, httpOptions)
    },
    goToDetail (uuidMessage) {
      this.$router.push('/setCategory')
      console.log('ESTE ES EL DETALLE')
      console.log(uuidMessage)
    },
    onPaginationData (paginationData) {
      delete paginationData['has_next']
      delete paginationData['has_previous']
      delete paginationData['pages']
      this.$refs.pagination.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },
    onFilterSet (filterText) {
      this.moreParams = {
        'q': filterText
      }
      Vue.nextTick(() => this.$refs.vuetable.refresh())
    },
    onFilterReset () {
      this.moreParams = {}
      Vue.nextTick(() => this.$refs.vuetable.refresh())
    },
    activateRefresg (simId) {
      console.log(simId)
    },
    formateDate (value) {
      return this.$moment(String(value)).format('MM-DD-YYYY HH:mm:ss')
    }

  },
  components: {
    Vuetable,
    VuetablePaginationBootstrap,
    FilterBar
  },
  mounted () {
    this.$bus.$on('filter-set', eventData => this.onFilterSet(eventData))
    this.$bus.$on('filter-reset', e => this.onFilterReset())
  },
  watch: {
    url: function (val) {
      console.log('Hubo un cambio')
    }
  }
}
</script>


