<template>
    <div class="card">
        <div class="card-header">
            Lista de usuarios
        </div>
        <div class="card-body">
            <!-- <table class="table table-sm">
                <thead class="bg-primary">
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Rol</th>
                    <th>Correo</th>
                    <th></th>
                </thead>
                <tr v-for="(obj, index) in lstUsuarios" :key="index">
                    <td>{{index+1}}</td>
                    <td>{{obj.name}} {{obj.lastName}}</td>
                    <td>{{obj.role}}</td>
                    <td>{{obj.email}}</td>
                    <td><a @click="goToUpdate(obj.membership_id)"><i class="fa fa-pencil"></i></a></td>
                </tr>
            </table> -->
            <filter-bar></filter-bar>
                <vuetable ref="vuetable"
              :api-url="url"
              :http-fetch="getList"
              :append-params="moreParams"
              pagination-path="pagination"
              :per-page="10"
              :fields="fields"
              @vuetable:pagination-data="onPaginationData">
              </vuetable>
              <vuetable-pagination-bootstrap ref="pagination"
              @vuetable-pagination:change-page="onChangePage">
              </vuetable-pagination-bootstrap>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import http from '../../services/axios-http'
    import config from '../../../config/dev.env'
    import Vuetable from 'vuetable-2/src/components/Vuetable'
    import VuetablePaginationBootstrap from '../../components/VuetablePaginationBootstrap'
    import FilterBar from '../../components/SearchBar'
    import CustomActions from '../../components/CustomActions'
    Vue.component('custom-actions', CustomActions)
    export default {
      data () {
        return {
          lstUsuarios: [],
          searchCategory: '',
          url: `${config.URL_BASE}v1/users/companies/${localStorage.getItem('company_id')}/memberships`,
          moreParams: {},
          httpOptions: {
            baseURL: `${config.URL_BASE}v1/companies/`,
            headers: {
              'Accept': this.$axios.defaults.headers['Accept'],
              'Content-Type': this.$axios.defaults.headers['Content-Type'],
              'Authorization': this.$axios.defaults.headers['Authorization']
            }
          },
          fields: [
            {
              name: 'name',
              title: 'Nombre',
              sortField: 'name',
              titleClass: 'center aligned',
              dataClass: 'center aligned'
            },
            {
              name: 'role',
              title: 'Rol',
              titleClass: 'center aligned',
              dataClass: 'center aligned'
            },
            {
              name: 'email',
              title: 'Correo',
              titleClass: 'center aligned',
              dataClass: 'center aligned'
            },
            {
              name: '__component:custom-actions',
              title: 'Acciones',
              titleClass: 'center aligned',
              dataClass: 'center aligned'
            }
          ]
        }
      },
      methods: {
        getList (apiUrl, httpOptions) {
          console.log('ENTRO A LA PAGINA')
          this.params = httpOptions.params
          return this.$axios.get(this.url, httpOptions)
        },
        getLstUser () {
          console.log(`${config.URL_BASE}v1/users/companies/${localStorage.getItem('company_id')}/memberships`)
          http.get(`${config.URL_BASE}v1/users/companies/${localStorage.getItem('company_id')}/memberships`).then(msg => {
            this.lstUsuarios = msg.data.data.data
            console.log('esta es la informacion')
            console.log(msg)
          })
        },
        goToUpdate (uuidUser) {
          console.log(uuidUser)
          this.$router.push(`/user/${uuidUser}`)
        },
        onPaginationData (paginationData) {
          delete paginationData['has_next']
          delete paginationData['has_previous']
          delete paginationData['pages']
          this.$refs.pagination.setPaginationData(paginationData)
        },
        onChangePage (page) {
          this.$refs.vuetable.changePage(page)
        },
        onFilterSet (filterText) {
          this.moreParams = {
            'q': filterText
          }
          Vue.nextTick(() => this.$refs.vuetable.refresh())
        },
        onFilterReset () {
          this.moreParams = {}
          Vue.nextTick(() => this.$refs.vuetable.refresh())
        },
        activateRefresg (simId) {
          console.log(simId)
        }
      },
      created () {
        this.getLstUser()
      },
      components: {
        Vuetable,
        VuetablePaginationBootstrap,
        FilterBar
      },
      mounted () {
        this.$bus.$on('filter-set', eventData => this.onFilterSet(eventData))
        this.$bus.$on('filter-reset', e => this.onFilterReset())
        this.$bus.$on('update', eventData => this.goToUpdate(eventData.membership_id))
        this.$bus.$on('delete', eventData => this.deleteCategory(eventData))
      }
    }
</script>

<style scoped>

</style>