<template>
    <div class="card">
        <div class="card-header">
            Módulo de usuarios
        </div>
        <div class="card-body">
          <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="">Nombre:</label>
                  <input v-model="objUser.name" type="text" class="form-control" placeholder="Nombre"/>
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                  <label for="">Apellido:</label>
                  <input v-model="objUser.lastname" type="text" class="form-control" placeholder="Apellido">
              </div>
            </div>
            <div class="col">
              <label for="">Seleccione un rol: </label>
              <select v-model="objUser.role_id"  class="form-control" id="">
                        <option :value="0" >Seleccione una categoria</option>
                        <option v-for="(obj, index) in lstRoles" :value="obj.id" :key="index">{{obj.name}}</option>
              </select>
            </div>
          </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="">Correo: </label>
                        <input  v-validate="{required : true, email: true }" data-vv-as="email" name="email"  v-model="objUser.email" type="email" class="form-control" placeholder="Correo@correo.com">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="">Celular:</label>
                        <input v-model="objUser.cellphone"
                         v-mask="'(###) #### ###'"
                         class="form-control" placeholder="Celular">
                    </div>
                </div>
            </div>
            <div class="form-group">


            <div class="row" v-if="objUser.id === 0">
              <div class="col">
                <label for="">Contraseña:</label>
                <input v-model="objUser.password" type="password" class="form-control" placeholder="******">

              </div>
            </div>
            </div>
            <div class="form-group">
                <button v-if="objUser.id === 0" @click="saveUser" class="btn btn-primary">Guardar Usuario</button>
                <button v-else @click="updateUser" class="btn btn-primary">Actualizar usuario</button>
            </div>
        </div>
    </div>
</template>

<script>
    import http from '../../services/axios-http'
    import config from '../../../config/dev.env'
    export default {
      data () {
        return {
          objUser: {
            id: 0,
            name: '',
            lastname: '',
            email: '',
            cellphone: '',
            role_id: '0',
            password: ''
          },
          lstRoles: []
        }
      },
      methods: {
        saveUser () {
          var ok = this.validate()
          console.log(ok)
          if (ok) {
            delete this.objUser['id']
            this.objUser.cellphone = this.objUser.cellphone.replace('(', '')
            this.objUser.cellphone = this.objUser.cellphone.replace(')', '')
            this.objUser.cellphone = this.objUser.cellphone.replace(' ', '')
            this.objUser.cellphone = this.objUser.cellphone.replace(' ', '')
            console.log(this.objUser.cellphone)
            http.post(`${config.URL_BASE}v1/users/user/${localStorage.getItem('company_id')}/users`, this.objUser).then(msg => {
              if (msg.status === 200) {
                this.clean()
                this.$notif.showSuccessMsg({
                  title: 'Exito',
                  message: 'Nuevo usuario disponible'
                })
              }
            })
          }
        },
        loadRoles () {
          http.get(`${config.URL_BASE}v1/users/roles`).then(msg => {
            this.lstRoles = msg.data.data
            console.log(this.lstRoles)
          }, err => {
            console.log(err)
          })
        },
        updateUser () {
          console.log(this.objUser)
          this.objUser.cellphone = this.objUser.cellphone.replace('(', '')
          this.objUser.cellphone = this.objUser.cellphone.replace(')', '')
          this.objUser.cellphone = this.objUser.cellphone.replace(' ', '')
          this.objUser.cellphone = this.objUser.cellphone.replace(' ', '')
          http.putData(`${config.URL_BASE}v1/users/user`, this.objUser).then(msg => {
            if (msg.data.code === 200) {
              this.$notif.showSuccessMsg({
                title: 'Exito',
                message: 'Registro actualizado'
              })
            }
            console.log(msg)
          })
        },
        validate () {
          var ok = false
          if (this.objUser.name === '') {
            this.$notif.showWarnMsg({
              title: 'Alto ',
              message: 'se requiere un nombre'
            })
          } else if (this.objUser.lastname === '') {
            this.$notif.showWarnMsg({
              title: 'Alto ',
              message: 'se requiere un apellido'
            })
          } else if (this.objUser.role_id === '0') {
            this.$notif.showWarnMsg({
              title: 'Alto',
              message: 'seleccione un rol'
            })
          } else if (this.objUser.cellphone.length < 10) {
            this.$notif.showWarnMsg({
              title: 'Alto ',
              message: 'Ingrese un numero no mayor a 10 digitos'
            })
          } else if (this.errors.has('email')) {
            this.$notif.showWarnMsg({
              title: 'Alto',
              message: 'ingrese un correo valido'
            })
          } else if (this.objUser.id === 0) {
            if (this.objUser.password.length < 10) {
              this.$notif.showWarnMsg({
                title: 'Alto ',
                message: 'ingrese una contraseña no menor a 9'
              })
            } else {
              ok = true
            }
          } else {
            ok = true
          }
          return ok
        },
        clean () {
          this.objUser.id = 0
          this.objUser.name = ''
          this.objUser.lastname = ''
          this.objUser.email = ''
          this.objUser.cellphone = ''
          this.objUser.role_id = '0'
          this.objUser.password = ''
        }
      },
      created () {
        this.objUser.id = this.$route.params.uuidUser
        console.log(this.$route.params.uuidUser)
        if (this.objUser.id !== undefined) {
          console.log('VA A ENTRAR A BUSCAR LA INFORMACION DE LA API')
          console.log(`${config.URL_BASE}v1/users/companies/${localStorage.getItem('company_id')}/membership/${this.$route.params.uuidUser}`)
          http.get(`${config.URL_BASE}v1/users/companies/${localStorage.getItem('company_id')}/membership/${this.$route.params.uuidUser}`).then(msg => {
            this.objUser = msg.data
          })
        } else {
          this.objUser.id = 0
        }
        this.loadRoles()
      }
    }
</script>

<style scoped>

</style>